*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #0c3b2e;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
}


   .text,.image{
    width: 50%;
    float: left;
}


.image img{
    width: 100%;
    height: 600px;
}


.container .text h1{
    color: white;
    font-size: 3em;
    padding: 60px;
}

.container .text p{
 color: white;   
 padding-left: 60px;
 font-size: 20px;
}



    
    
    button{
    margin-left: 60px;
    margin-top: 40px;
    background-color: #ffba00;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    }
    
    
    
    